body {
    margin:0;
    background-color: #fff;
}

.wide {    grid-area: header;  }
.side {    grid-area: side;    }
.main {    grid-area: main;    }
.right {    grid-area: right;   }
.long {    grid-area: long;  }

.grid-container-n {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'side main main main right right'
      'side long long long long long';
    gap: 5px;
    background-color: #ffffff;
    margin: 10px;
}

.grid-container-n > div {
    background-color: #f5f5f5;
    padding: 10px 20px;
    font-size: 85%;
    border-radius: 12px;
    border: 1px solid #000;
    transition: all 0.2s;
}

.grid-container-n > div:hover {
    box-shadow: 12px 12px 24px 5px #cfcfcf;
    background-color: #fff;
}

form {
    width: min-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

input {
    margin: 3px;
    padding:3px 5px;
    border-radius: 6px;
    border: 1px solid #000;
}

input[type=submit] {
    cursor: pointer;
    background-color: #fff;
}

img {
    width: 100%;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
}

p {
    text-align: justify;
}
