/*

made by CCN0

for use in every page on my site, https://ccn0.github.io
idk if this has any use to you whatsoever

*/

body {
    margin:0;
    background-color:#000;
    color:#fff;
    font-family: monospace;
}
::selection,::moz-selection {
    background:#fff;
    color:#000;
}
p,span,h1,h2,h3,h4,h5,h6 {
    cursor:default;
}
hgroup h2 {
    font-size:13px;
}
.top {
    text-align:center;
    cursor:default;
    margin:10px;
}
a {
    text-decoration:none;
    color:#0ff;
    &:hover {
        color:#ff0;
        text-decoration: underline;
    }
    &:active {
        color:#f0f;
    }
}
.posts {
    margin:5px;
    text-align:center;
}
.post {
    border-style:solid;
    border-width:3px;
    border-color:#fff;
    padding:5px 15px;
    margin:15px;
    display:flex;
    width:fit-content;
    p {
        text-align:justify;
    }
}
hr {
    border-style:dashed;
    border-width:2px;
    border-color:#fff;
}

.question {
    background-color: rgb(0, 0, 0);
    border: 4px solid #fff;
    width: 95%;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 15px 12px 15px;
    min-width: none;
    max-width: 360px;
    text-align: left;
    cursor: default;
    transition: padding 0.2s;
}
.answer {
    background-color: rgb(255, 255, 255);
    border: 4px solid rgb(0, 0, 0);
    color:#000;
    width: 95%;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 15px 12px 15px;
    min-width: none;
    max-width: 360px;
    text-align: left;
    cursor: default;
    transition: padding 0.2s;
}

cr {
    color:#f00
}
cg {
    color:#0f0
}
cb {
    color:#00f
}
cy {
    color:#ff0
}
cc {
    color:#0ff
}
cm {
    color:#f0f
}

code {
    border: 1px #fff solid;
    font-family: monospace;
}

del {
    background-color: #f00;
    color: #fff;
}

ins {
    background-color: #0f0;
    color: #000;
}

/* color tags for sh */

li.news { /*guess*/
    border-left: 8px solid #ff00ff ;
}
li.fh { /*funny hahas*/
    border-left: 5px solid #ff5858;
}
li.np { /*ccnotepad*/
    border-left: 5px solid rgb(118, 115, 133);
}
li.cf { /*croshf*/
    border-left: 5px solid rgb(255, 236, 92);
}
li.yd { /*yourdoc*/
    border-left: 5px solid rgb(255, 119, 0);
}
li.pa { /*presentablecss*/
    border-left: 5px solid #d096ff;
}
li.tt { /* soundlets plus */
    border-left: 5px solid rgb(100, 239, 72);
}
li.impr { /*important*/
    border-left-width: 8px;
}
/* List Shits */

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    border-style:solid;
    border-width:3px;
    border-color:#fff;
    padding:5px 15px;
    margin: 5px;
    display:block;
    width: fit-content;
    max-width: 300px;
    margin: 5px auto;
}

/* wiki land */

[data-wiki="1"] {
    li {
        max-width: 750px;
        ul,ol {
            li {
                border:none;
            }
        }
    }
}

/* eventual banner land */

#ccn0banner,.warnbanner {
    max-width: 100%;
    background-color: #ff0;
    color: #000;
    padding:15px;
    text-align: center;
    &::selection {
        background-color: #000;
        color: #fff;
    }
    a {
        color: #00f;
        &:active {
            color: #f00;
        }
    }
}

/* game players and buttons and inputs */

.player {
    text-align: center;
    iframe {
        max-width:100%;
    }
}
.modal,dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000080;
}

kbd {
	padding: 1px 4px;
	border: 2px solid #fff;
	background: #444;
	font-family: monospace;
	border-radius: 2px;
}
label {
    font-size: 1rem;
}
button,input[type=submit] {
    cursor: pointer;
}
option {
    border-radius: 0;
}
textarea {
    display: inline-block;
}
span.required {
    background-color: #000;
    color: #f00;
}
button,input[type=submit],select,input,textarea {
    background-color: #fff;
    border: 2px solid #000;
    padding: 14px 20px;
    font-family: monospace;
    font-size: 1rem;
    text-decoration: none;
    margin: 4px 10px;
    &.rec {
        background-color: #ff0;
    }
    &.neg {
        background-color: #f00;
    }
    &.pos {
        background-color: #0ff;
    }
    &:hover {
        text-decoration: underline;
    }
    &:active {
        background-color: #808080!important;
    }
}
form,.form {
    border: 4px dashed #fff;
    max-width: fit-content;
    padding: 10px;
    display: inline-block;
}
input[type=checkbox] {
    width: 1rem;
    height: 1rem;
    border-radius: 0;
    padding: 0;
}