:root {
    --hero: #008000;
    --dark: #003200;
    --muted: #034e03;
    --superdark: #021f02;
    --alt: #3b7c32;
    --btn: #97d180;
    --btnhover: #e2ffbe;
    --btnactive: #102e10;
    --input: #f3f3f3;
    --red: #ff1100;
    --green: #0dff00;
    --blue: #0015ff;
    --magenta: #ff56e8;
    --yellow: #ffd000;
    --cyan: #23deff;
    --brdrrds: 12px;
    --engContHeight: 80px;
}
html {
    scrollbar-color:  var(--alt) var(--dark);
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--dark);
}

* {
    box-sizing: border-box;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex: 1;
    min-height: 100vh;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    transition: background-color 0.1s;
}

.elem {
    display: flex;
    flex-direction: column;
    background-color: #0000;
    color: #fff;
    width: 100%;
    padding: 15px;
}

.c1 {
    background-color: var(--superdark);
    height: auto;
    h1 {
        text-align: center;
    }
}

.c2 {
    display: flex;
    flex-direction: column;
    background-color: var(--muted);
    min-height: 100vh;
    max-height: 100vh;
    h1,
    h2 {
        margin-top: -2px;
        margin-bottom: -8px;
        color: #fff;
        text-align: center;
    }
    div {
        padding: 15px;
        &>div {
            padding: 0;
        }
    }
}

.c3 {
    background-color: var(--dark);
    div {
        padding: 15px;
        color: #fff;
        max-width: 100%;
        overflow: hidden;
    }
    code {
        background-color: #000;
        cursor: alias;
        user-select: all;
    }
    details {
        max-width: 100%;
        background-color: var(--superdark);
        border-radius: var(--brdrrds);
        padding: 15px;
        code {
            border: 1px solid #fff;
        }
    }
}

kbd {
    display: inline-block;
    background: #b4d0a9;
    border: 1px solid var(--hero);
    color: #000;
    font-family: Arial, sans-serif;
    padding: 2px;
}

figure {
    border: none;
}

img {
    width: 100%;
    display: flex;
    user-select: none   ;
}

summary {
    font-weight: bold;
}

details {
    &:not(:last-child) {
        margin-bottom: 15px;
    }
}

a {
    color: var(--cyan);
    &:hover,&:focus-within {
        color: var(--yellow);
    }
    &:active {
        color: var(--magenta);
    }
}

.warnbanner {
    font-weight: bold;
    max-width: 100%;
    background-color: var(--yellow);
    color: #000;
    padding: 15px;
    text-align: center;
    &::selection {
        background-color: #000;
        color: #fff;
    }
    a {
        color: var(--blue);

        &:active {
            color: var(--red);
        }
    }
}

form {
    display: flex;
    gap: 8px;
    width: 100%;
    height: auto;
    flex-direction: column;
    input {
        background-color: var(--input);
        padding-left: 12px;
        font-family: 'Roboto Mono', monospace;
        transition: all 0.2s;
        flex: 1;
        border-radius: 4px;
        border: 1px #aaa solid;
        &[type="search"] {
            min-height: 32px;
            &:hover,&:focus-within {
                border-color: #444;
            }
            &:focus-within {
                padding-left: 32px;
                transform: translateY(-2px);
                flex: 3;
                background-color: #fff;
            }
        }
        &[type="submit"] {
            padding: 0!important;
            color: #fff;
            font-weight: bold;
            background-color: #0051ff;
            cursor: pointer;
            border: none;
            border-radius: 8px;
            min-height: 32px;
            &:hover,
            :focus-within {
                background-color: #187cff;
            }
            &:active {
                background-color: #0013c0;
                transform: translateY(2px);
            }
        }
    }
}

.containercontaineryupyup {
    flex: 1;
}

.container {
    background: var(--dark);
    border-radius: var(--brdrrds);
    border: 2px solid var(--hero);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    button {
        background: var(--btn);
        flex: 1;
        cursor: pointer;
        border: none;
        padding: 0!important;
        &:hover,&:focus-within {
            background-color: var(--btnhover);
        }
        &:active {
            background-color: var(--btnactive);
            color: #fff;
            box-shadow: var(--btnactive) 0 0 0 2px;
            transform: translateY(2px);
        }
    }
    .toolbar {
        flex: 1;
        background-color: var(--hero);
        border-bottom: none;
        overflow: hidden;
        padding: 0;
        display: flex;
        &>div {
            display: block;
            flex: 1;
            transition: 0.2s all;
            &:focus-within {
                flex: 1.5;
            }
        }
        &.topborder {
            border-top: 2px solid var(--hero);
        }
        button {
            flex: 1;
            display: inline-block;
            width: 100%;
            cursor: pointer;
            height: 32px;
            background: var(--btn);
            border-right: 1px solid var(--hero);
            &:hover,&:focus-within {
                background-color: var(--btnhover);
            }
            &:active {
                background-color: var(--btnactive);
                color: #fff;
                box-shadow: var(--btnactive) 0 0 0 2px;
                transform: translateY(2px);
            }
            &:last-child {
                border-left: 1px solid var(--hero);
            }
        }
        &:has(input:hover) button {
            border-color: #444!important;
        }
        input {
            transition: background-color 0.2s;
            width: 100%;
            height: 32px;
            border-radius: 0 0 0 0;
            border: 2px #aaa solid;
            &.lbgreen {
                border-left: 1px solid var(--hero);
            }
            background-color: var(--input);
            &:hover {
                border-color: #444;
            }
            &:focus-within {
                background-color: #fff;
            }
        }
    }
    .list {
        overflow-y: auto;
        height: calc(80vh - 64px);
        padding: 0;
        scrollbar-width: thin;
        scrollbar-color: var(--hero) var(--dark);
        border-bottom: 2px solid var(--hero);
    }
}

.engContainer {
    border-right: 2px solid var(--hero);
    &:not(:first-child):not(:last-child) {
        border-top: 1px solid var(--hero);
        border-bottom: 1px solid var(--hero);
    }
    &:last-child {
        border-top: 1px solid var(--hero);
        border-bottom: 2px solid var(--hero);
    }
    &:first-child {
        border-top: none;
        border-bottom: 1px solid var(--hero);
    }
    &:only-child {
        border-top: none;
        border-bottom: 2px solid var(--hero);
    }
    height: var(--engContHeight);
    display: flex;
    &:hover {
        &>.engToolbar {
            width: 48px;
        }
    }
}
.engToolbar {
    width: 32px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: 0.2s all;
}
.engButton {
    background: #b4d0a9;
    flex: 1;
    cursor: pointer;
    border: none;
    overflow: hidden;
    &:hover {
        background-color: #f2ffe2;
    }
    &:active {
        background-color: #192c19;
        color: #fff;
        box-shadow: #192c19;
        transform: translateY(2px);
    }
}
.engList {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    &:last-child {
        border-bottom: none;
    }
}
.engInput {
    transition: 0.1s all;
    display: flex;
    flex: 1;
    border-radius: 0;
    border:none;
    background-color: var(--input);
    &:focus-within {
        filter: brightness(1.25);
    }
    &.highlighted {
        background-color: var(--yellow)!important;
    }
}
.wrong {
    background-color: var(--red);
    color: #fff;
}
.engBtnCont {
    overflow:hidden;display:flex;flex:1;
    &:first-child {
        border-bottom: 1px solid var(--hero);
    }
    &:not(:first-child):not(:last-child) {
        border-top: 1px solid var(--hero);
        border-bottom: 1px solid var(--hero);
    }
    &:last-child {
        border-top: 1px solid var(--hero);
    }
}

.moved {
    filter: brightness(110%);
    border-color: var(--red);
    animation: moveda 2s forwards;
    * {
        border-color: var(--red);
        animation: moveda 2s forwards;
    }
}
.oh {
    overflow: hidden;
}
.qab {
    background-color: var(--input);
    flex: 1;
    border: 2px #aaa solid;
    &:hover,&:focus-within {
        border-color: #444;
    }
    &:focus-within {
        background-color: #fff;
    }
}


#livesettings {
    border-radius: var(--brdrrds);
    background-color: var(--dark);
    padding: 0;
}
.uicont {
	margin: 0;
	padding: 5px!important;
	display: flex;
	align-items: center;
	min-height: 32px;
    label {
        user-select: none;
        flex: 1;
        height: 100%;
        margin-left: 12px;
        min-height: 32px;
        align-content: center;
    }
    input[type="checkbox"] {
        flex: 0;
        height: 32px;
        min-width: 32px;
        cursor: pointer;
        border-radius: 0 0 0 0;
    }
    input[type="text"] {
        flex: 1;
        height: 28px;
        min-width: 32px;
        transition: background-color 0.2s;
        width: 100%;
        border-radius: 0 0 0 0;
        border: 2px #aaa solid;
        background-color: var(--input);
        &:hover {
            border-color: #444;
        }
        &:focus-within {
            background-color: #fff;
        }
    }
}
.fakebutton {
    border: 2px solid green;
    color: #000;
    background-color: var(--btn);
    padding: 2px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #000000bf;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    .modheader {
        width: 100%;
        height: 48px;
        text-align: center;
        display: flex;
        padding: 0 8px;
        h2 {
            flex: 1;
            margin:0;
            align-content: center;
            background: var(--superdark);
            border-radius: var(--brdrrds);
            font-size: 140%;
        }
        button {
            margin: 0 0 0 4px;
        }
        button:last-child { 
            margin: 0 0 0 4px;
        }
    }
    .modmain {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        background: var(--muted);
        border-radius: var(--brdrrds);
        width: 100%;
        margin: 16px;
        text-align: center;
        align-content: center;
        padding: 16px;
        .txt {
            display: flex;
            flex-direction: column;
            flex: 1;
            margin-bottom:16px;
            max-height: 70vh;
            overflow-x: auto;
            p {
                align-content: center;
                margin:8px;
                padding: 8px;
                flex: 1;
            }
            table {
                flex: 1;
                border: 4px solid var(--hero);
                border-collapse: collapse;
                height: min-content;
                caption {
                    font-weight: bold;
                    font-size: 120%;
                }
                &:not(:last-child) {
                    margin-bottom: 16px;
                }
                th,td {
                    padding: 8px;
                    height: 32px;
                    border: 2px solid var(--hero);
                    text-overflow: ellipsis;
                    overflow: hidden;
                    max-width: 180px;
                    white-space: nowrap;
                    &:has(input),&:has(button) {
                        padding: 0;
                    }
                    input[type="checkbox"] {
                        width: 32px;
                        min-width: 32px;
                        height: 32px;
                        cursor: pointer;
                        border-radius: 0 0 0 0;
                    }
                    button {
                        width: 100%;
                        height: 100%;
                        align-content: center;
                        border: var(--hero) 2px solid;
                        background-color: var(--btn);
                        border-radius: var(--brdrrds);
                        cursor: pointer;
                        &:hover {
                            background-color: var(--btnhover);
                        }
                        &:active {
                            background-color: var(--btnactive);
                        }
                    }
                }
                td:nth-child(3) {
                    text-align: left;
                    user-select: all;
                }
            }
            table caption {
                padding: 8px;
                caption-side: top;
                &.bottom {
                    caption-side: bottom;
                }
            }
        }
    }
}
tr {
    border: 2px solid var(--hero);
    &:hover {
        background: var(--dark);
    }
}
thead {
    background-color: var(--dark);
    tr:hover {
        background: var(--superdark);
    }
}

.modheader button,
.actions button {
    padding: 12px 24px;
    align-content: center;
    border: var(--hero) 2px solid;
    background-color: var(--btn);
    border-radius: var(--brdrrds);
    margin: 0 8px;
    cursor: pointer;
    &:hover {
        background-color: var(--btnhover);
    }
    &:active {
        background-color: var(--btnactive);
        transform: translateY(2px);
    }
}

.skipnav {
    position: absolute;
    top: -9999px;
    &:focus-within {
        top: auto;
        transform: translate(-120%,32px);
        position: unset;
    }
}

.searchtools .oh:has(button) {
    flex: 0.1;
    &:active,&:focus-within {
        flex: 0.2;
    }
}
.searchtools .oh:has(input) {
    flex: 1;
    &:active,&:focus-within {
        flex: 1.25;
    }
}

@keyframes moveda {
    from {
        border-color: var(--red);
        filter: brightness(110%);
    }
    to {
        border-color: var(--hero);
        filter: brightness(100%);
    }
}

@media (max-width: 500px) {
    .content {
        flex-direction: column;
    }
    .col {
        min-height: auto;
        flex: 1;
    }
    .c2 {
        min-height: 100dvh;
    }
    .engContainer:has(input:focus-within) {
        &>.engToolbar {
            width: 48px;
        }
    }
    .modal {
        padding: 0;
        & .modheader {
            & button {
            &.closebtn {
                left: unset;
                right: 0;
            }
            }
        }
    }
    table {
        font-size: 70%;
    }
}

[data-darktheme="true"] {
    --input: #262626;
	--hero: #008000;
	--dark: #000;
	--muted: #011701;
	--superdark: #001400;
	--alt: #0b3905;
	--btn: #134400;
	--btnhover: #59a200;
	--btnactive: #102e10;
    button,.fakebutton {
        color: #fff!important;
    }
    input {
        color: #fff;
        &:focus-within {
            background-color: #000!important;
        }
    }
    .engInput.highlighted {
        color: #000;
        &:focus-within {
            color: #fff;
        }
    }
    thead tr:hover {
        background-color: var(--alt);
    }
    tbody tr:hover {
        background-color: var(--alt);
    }
}