body {
    margin: 0;
    background-color: #0f140d;
    color:#fff;
    width: 100%;
}

.content {
    text-align: center;
    margin: 15px 50px;
}

p,li {
    margin: auto;
    max-width: 50%;
}

hr {
    border: 1px solid #fff;
}

.topnav {
    color: #fff;
    height: 40px;
    text-align: center;
}

.topnav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    background-color: #cea2ff;
    border-radius: 6px;
    transition: all 0.2s;
}

.topnav a:hover {
    padding-bottom: 15px;
    background-color: #7b57a3;
}
